<table class="box" id="<%= preview_pane_id %>" style="display:none;" width="<%= width_param %>">
  <tbody>
    <tr>
      <td style="text-align:left;">
        <span class="icon icon-close" onclick="<%= "$('##{preview_pane_id}').hide(); $('##{preview_tag_id}').html('');".html_safe %>"></span>
        <br>
        <span id="<%= preview_tag_id %>" style="width:100%"></span>
      </td>
    </tr>
  </tbody>
</table>

